name: Build and deploy Node.js app

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - run: npm install
      - run: npm run build --if-present

      - name: Prepare artifact
        run: |
          mkdir deploy
          cp -r package.json package-lock.json node_modules dist deploy/ || true
          cp -r build deploy/ || true

      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: deploy

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: app

      - name: Avoid SCM restart race
        run: sleep 20

      - uses: azure/webapps-deploy@v3
        with:
          app-name: 'web-ammar'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_DD09221AFB714439AD44719FB61F827A }}
